---
import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="min-h-screen w-screen flex flex-col items-center justify-center">
		<h1 class="text-5xl font-bold w-2/3 text-center">
			A template of Astro with Tailwindcss, prettier with minimal config
		</h1>
	</body>
</html>
